<div id="page_wrapper">
  <div id="content">
    <h1>Hey, I'm Alan </h1>
    <p>Welcome to my blog.</p>
    <p>I'm doing projects in rails so I can get a job!. Cool stuff, right!.</p>
  </div>
</div>
